.side-main{
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #172121;
    align-items: center;
    
}
.platform-box{
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    width: 90%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;

}